@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  background: #d2e4e2;
}
.BAUST_LOGO {
  width: 35px;
  border-radius: 100%;
  margin-right: 10px;
}

.user-login {
  width: 35px;
  border-radius: 100%;
}

:root {
  --offcanvas-width: 270px;
  --topNavbar-height: 56px;
}

.sidebar-nav {
  width: var(--offcanvas-width) !important;
}

.sidebar-link[aria-expanded="true"] .right-icon{
  transform: rotate(180deg);
}
.sidebar-link .right-icon{
  transition: all 0.5s;
}

@media (min-width: 992px) {
  .offcanvas-backdrop {
    display: none !important;
  }
  .sidebar-nav {
    transform: none !important;
    visibility: visible !important;
    top: var(--topNavbar-height) !important;
  }
  main{
    margin-left: var(--offcanvas-width)
  }
}
