@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
:root {
  --var-primary-color: #2888e8ff;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 4.8rem;
  color: #fff;
}

h2 {
  font-size: 3rem;
  color: #fff;
}
p {
  font-size: 1.6rem;
  letter-spacing: 0.08rem;
  color: #fff;
}
button,input[type="submit"]{
    border: .1rem solid #fff;
    outline: none;
    padding: .6rem 1.2rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}
/* reg headder style */
.reg-header{
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url("/images_lg/Library_bg\ \(3\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.container{
  height: 10vh;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
 
}
.logo a{
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
ul{
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1.7rem;
  font-weight: 600;

}
li>a{
  color: #fff;
  text-decoration: none;
}
/*home page styleing */


/* reg page styleing*/
main{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registration, .login{
  min-width: 30rem;
  min-width: 40vw;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
}
.grid-two--column{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
 
.form-text{
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
  url("/images_lg/lg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding:  3rem 2rem;
  border-radius: 10px;
  margin-right: 20px;
}
.form-text p{
  width: 50ch;
  text-align: center;
  margin: 2rem 0 3rem  0;

}
.form-text button{
  background-color: #fff;
  color: #000;
}
.form-text button:hover{
  background-color: transparent;
  color: #fff;
}

.reg-form, .login-form{
  width: 100%;
  min-height: 45vh;
  background-color: #fff;
}
.reg-form p, .login-form p{
 margin: 1rem 0 .7rem 0;
}
.social-icon{
  display: flex;
  gap: 1rem ;
}
.fa-brands{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.1rem solid #ccc;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

input{
  width: 20rem;
  margin: 0.7rem 0;
  border: none;
  background-color: #e8e8e8;
  padding:1rem 1.8rem;
  letter-spacing: .06rem;
}
input[type="submit"]{
  margin-top: 1rem;
  min-width: 10rem;
  background-color: var(--var-primary-color);
  color: #fff;
}
.registration:not(.login--display)
{
  display: none;
}
.login--display .registration{
  display: block;
}
.login--display .login{
  display: none;
}


.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
